.ItemList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  .card {
    .item-title {
      h6 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .gridContainer {
      display: grid;
      grid-template-columns: 2rem auto;
    }
  }
}
